<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>sdfv</string>
	<string>sdfvdfsz</string>
	<string>sgfhgf</string>
	<string>sfghgdx</string>
	<string>sdgfzfv</string>
	<string>gdfzhbfgxh</string>
	<string>zdxbz</string>
	<string>zfcb</string>
	<string>hgdfj</string>
	<string>dukfuy</string>
	<string>aetra</string>
	<string>qaewtr</string>
	<string>ytri8t</string>
	<string>oigubj</string>
	<string>fgc</string>
</array>
</plist>
